body {
  font-family: 'Roboto', Arial, sans-serif; /* Roboto is a clean and professional font */
  font-size: 16px;
  color: #333; /* Dark grey is softer on the eyes than pure black */
  margin: 0;
  padding: 0;
  line-height: 1.5; /* Improves readability */
  background: #F8F9FA; /* Light grey background can look more professional than pure white */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #007BFF; /* A header background can make it stand out more */
  color: white; /* White text for better contrast */
}

.header-content img {
  max-width: 100%;
  height: auto;
}

.headline {
  font-size: 1.5em;
  text-align: center;
  color: #007BFF; /* Consistent color scheme */
}

nav {
  margin: 1em 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-links a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.nav-links a:hover {
  color: #0056b3; /* Darken color on hover */
}

.hero h2,
.hero p {
  text-align: center;
}

section#about,
section#days-open {
  margin-bottom: 2em;
}

footer {
  background-color: #007BFF;
  padding: 1em 0;
  color: white;
  margin-top: 2em;
  border-top: 1px solid #0056b3;
}

footer h3,
footer p {
  text-align: center;
}

footer p {
  margin-top: 0.5em;
}

}
 .invisible-image {
    visibility: hidden;
  }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.article {
display: flex;
    justify-content: space-between;
    align-items: center;
    }



/* Media Queries */
@media screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .nav-links {
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}
