ul {
    list-style-type: none;
  }

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}
.days-open-container {
  background-color: #f9f9f9; /* A light background to make it stand out */
  padding: 1em;
  border-radius: 5px; /* Rounded corners for a soft look */
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16); /* Some shadow for a "lifted" effect */
}

.days-open-heading {
  text-align: center;
  color: #007BFF; /* Use your blue color for consistency */
  text-transform: uppercase; /* Make all letters uppercase */
  font-size: 2em; /* Make it a bit larger */
}

.days-open-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  text-align: center; /* Center the text */
  line-height: 1.6; /* Add some space between the lines */
}

.days-open-list li {
  font-size: 1.2em; /* Increase the font size a bit */
  color: #333; /* Dark grey color for the text */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
h2{


 display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-size: 20px;
}
article {

  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-size: 20px;
}
.header-content img {
  max-width: 100%;
  height: auto;
}

.headline {
  font-size: 1.5em;
  text-align: center;
  color: blue;
}

nav {
  margin: 1em 0;
  
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  
}

.nav-links a {
  color: blue;
  text-decoration: none;
}

.nav-links a:hover {
  color: purple;
}

.hero {
  
}

.hero h2,
.hero p {
  text-align: center;
}

section#about,
section#days-open {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  background-color: white;
  padding: 1em 0;
  color: blue;
  margin: 5px;
border: 1px solid black;


}
 .invisible-image {
    visibility: hidden;
  }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.article {
display: flex;
    justify-content: space-between;
    align-items: center;
  
}
footer h3,
footer p {
  text-align: center;
}

footer p {
  margin-top: 0.5em;
}
.about-container {
    display: flex;
    justify-content: space-between;
}

.about-content {
    flex: 1;
    margin-right: 2em; 
}

.about-image {
    flex: 1;
}

.about-image img {
    max-width: 100%;
    height: auto;


}
/* Media Queries */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .nav-links {
    flex-direction: column;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .nav-links {
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}